{% extends "layout.html" %}

{% block main %}

<main class="container py-5 text-center">
            
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        {% for stock in stocks %}
       <tbody>
            
                <tr>
                    <td class="text-start">{{ stock }}</td>
                    <td class="text-start">{{ stocks[stock]["stockname"] }}</td>
                    <td class="text-end">{{ stocks[stock]["shares"] }}</td>
                    <td class="text-end">{{ stocks[stock]["price"] | usd }}</td>
                    <td class="text-end">{{ stocks[stock]["total"] | usd }}</td>           
                </tr>
            
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end"> {{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end"> {{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>

    <div>
        <form action="/refill" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="refill" name="refill" placeholder="Refill" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Refill</button>
        </form>
    </div>

{% endblock %}
