body {
  background-color: #202124;
}

.search {
  /* center and round corners */
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  /* vertically centered */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* add border to search bar */
.search-bar {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  /* border: none;  */
}

.search-bar > i {
  font-size: 20px;
  /* color: #202124; */
  margin: 10px;
}

.search-bar > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.links a {
  text-decoration: none;
  color: #202124;
  margin: 10px;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* input[type=text] {
  border-radius: 100px;
  width: 500px;
  height: 30px;
  font-size: 12px;
  font-family: arial, sans-serif;
  margin: 10px;
} */

input[type="text"]::before{
  content: "Search";
  color: #202124;
  font-size: 12px;
  font-family: arial, sans-serif;
  margin: 10px;
}

/* make input submit background color grey */
input[type=submit] {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: none;
  font-size: 12px;
  font-family: arial, sans-serif;
  color: #202124;
  /* background-color: #ccc; */
}

input[type=button]{
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: none;
}